params {
    project = false
    bed = false
    ref = false
    design = false
    test = false
}

profiles {

    standard {
        process.executor = 'local'
        process.cpus = 1
        process.memory = "2.GB"
        process.container = "smshuai/cnest:dev"
        process.errorStrategy = { task.exitStatus in [403, 401] ? 'ignore' : 'terminate' }
        docker.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = "2.GB"
        process.container = 'docker://smshuai/cnest:dev2'
        singularity.enabled = true
    }

}

executor {
  $slurm {
      queueSize = 1000
      pollInterval = '30sec'
      submitRateLimit = '100 sec'
  }
}