docker.enabled = true

params {
    project = false
    bed = false
    sample = false
    cram = false
    crai = false
    ref = false
    design = false
}

process {
  cpus = 1
  memory = "4.GB"

  withName: step0 {
    container = "smshuai/cnest:dev2"
  }

  withName: step1 {
    container = "smshuai/cnest:dev2"
  }
  withName: step2 {
    container = "smshuai/cnest:dev2"
  }
}