docker.enabled = true
params {
    project = false
    bed = false
    sample = false
    cram = false
    ref = false
}

process {
  cpus = 1
  memory = "4.GB"

  withName: step0 {
    container = "lifebitai/bedtools"
  }
  withName: step1 {
    container = "smshuai/cnest:dev"
  }
  withName: step2 {
    container = "smshuai/cnest:dev"
  }
}